// fonts
@font-size-base:					16px;
@font-size-small:					ceil((@font-size-base * 0.80)); // ~12px
@font-family-sans-serif:			'Open Sans', sans-serif;
@font-family-sans-serif-condensed:	'Roboto', sans-serif;
@headings-font-family:				'Roboto', sans-serif;
@headings-font-weight:				900;

@jumbotron-font-size:			ceil((@font-size-base * 1.5));
@jumbotron-heading-font-size:	ceil((@font-size-base * 3.0));

// colors
@primary-light: 			#e8f3f5;
@primary-mid: 				#4ea4bd;
@primary-mid-btn-border:	darken(@primary-mid, 5%);;
@primary-dark: 				#003a5d;
@brand-orange: 				#ea5b3b;
@brand-orange-pale:			#feab77;
@brand-orange-border:		darken(@brand-orange, 5%);
@brand-blue-btn:			#245d7a;
@brand-blue-btn-border:		darken(@brand-blue-btn, 5%);
@brand-red-btn:				#d0011b;
@brand-red-btn-border:		darken(@brand-red-btn, 5%);
@brand-green: 				#31bd8c;
@brand-dullgreen:			#aaccb3;
@brand-gray: 				#a2a9ad;
@brand-brown: 				#4a4a4a;
@white: 					#fff;
@black:						#000;

/**
 * bootstrap color mods
 */
@text-color:			@primary-dark;
@headings-color:		@primary-dark;
@link-color:			@primary-dark;
@input-border-focus:	@primary-mid;

// navbar
@navbar-default-color:				@white;
@navbar-default-bg:					@primary-mid;
@navbar-default-link-color:			@primary-dark;
@navbar-default-link-active-color:	@white;
@navbar-default-link-hover-color:	@white;
@navbar-default-link-hover-bg:		@primary-mid;

// dropdowns within navbar
@dropdown-link-hover-bg:	@primary-mid;
@dropdown-link-hover-color:	@white;

/**
 * responsive breakpoints
 * xs: 480, sm: 768, md: 992, lg: 1200
 */
@xs-breakpoint:	~"screen and (min-width:@{screen-xs-min})";
@sm-breakpoint:	~"screen and (min-width:@{screen-sm-min})";
@md-breakpoint:	~"screen and (min-width:@{screen-md-min})";
@lg-breakpoint:	~"screen and (min-width:@{screen-lg-min})";

@grid-float-breakpoint: @screen-lg-min;

/**
 * wordpress admin bar breakpoints
 * fat: 601, slim: 783
 */
@fat-adminbar-breakpoint: ~"screen and (min-width:601px)";
@slim-adminbar-breakpoint: ~"screen and (min-width:783px)";

// transition
@transition: all .25s ease;