.btn {
	&-orange {
		.button-variant(@btn-primary-color; @brand-orange; @brand-orange-border);
		// margin-top: 15px;
	}
	&-blue {
		.button-variant(@btn-primary-color; @brand-blue-btn; @brand-blue-btn-border);
	}
	&-ltblue {
		.button-variant(@btn-primary-color; @primary-mid; @primary-mid-btn-border);
	}
	&-red {
		.button-variant(@btn-primary-color; @brand-red-btn; @brand-red-btn-border);
	}
	&-default.btn-details {
		margin-top: 15px;
	}
}
