[class^="icon-"]:before, [class*=" icon-"]:before {
	font-size: 19px;
	transition: @transition;

	.fancybox__overlay-social & {
		font-size: 24px;
	}

	.collapsed & {
		transform: rotate(180deg);
	}
}