footer {
	color: @white;
	padding: 40px 0;
	text-align: center;
	background-color: @primary-dark;
	// margin-top: 30px;

	@media @sm-breakpoint {
		#gradient > .horizontal(@primary-mid, @primary-dark);
	}

	a {
		color: @white;
		padding: 5px 0;
		display: block;

		&:hover {
			background-color: @primary-light;
		}

		@media @md-breakpoint {
			padding: 0;
			display: inline;

			&:hover {
				background-color: transparent;
				color: @primary-light;
			}
		}
	}

	.col-md-3 {
		margin-bottom: 30px;
	}

	/* .footer-logo {
		width: 200px;
	} */

	.social a {
		margin: 0 10px;
		display: inline;
	}

	.footer-nav {

		@media @md-breakpoint {
			text-align: left;
		}

		&__menu {
			list-style: none;
			padding: 0;
			margin: 0 -15px;
			display: flex;
			flex-wrap: wrap;

			@media @md-breakpoint {
				display: block;
				margin: 0 0 11px;
			}

			li {
				width: 50%;

				@media @sm-breakpoint {
					width: calc(100%/3);
				}
				@media @md-breakpoint {
					width: auto;
				}
			}
		}
	}

}