.subscribeform {
	.form-group {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
	}
	&__text {
		width: 70%;
		max-width: 200px;
		margin: 0 5px 0 0;

		@media @md-breakpoint {
			width: 60%;
		}
	}
}

.contactform {
	margin-bottom: 30px;
}

/* .inline-form {
	.form-group {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;

		@media @sm-breakpoint {
			flex-flow: row nowrap;
		}

		& > * {
			flex: 1 100%;
		}
	}

	&__text {
		margin: 0 0 5px 0;
		width: 90%;
		max-width: 300px;

		@media @sm-breakpoint {
			margin: 0 5px 0 0;
			width: 75%;
			max-width: 250px;
		}
	}
	&__btn {
		margin: 0 0 5px 0;
		max-width: 100px;
		width: 50%;

		@media @sm-breakpoint {
			margin: 0 5px 0 0;
		}
	}
} */

.form-inline {
	.gform_confirmation_message {
		text-align: center;
	}
	.gfield_label {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0,0,0,0);
		border: 0;
	}

	.gform_wrapper {
		form {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow: row wrap;
			max-width: 500px;

			@media @md-breakpoint {
				flex-wrap: nowrap;
				align-items: flex-end;
			}
		}

		div.validation_error {
			display: none;
			// flex: 1 100%;
			// border: none;
			// font-size: 13px;
			// font-weight: normal;
			// margin-bottom: 10px;
			// padding: 0;
		}
		.gform_body {
			width: auto;
			margin-bottom: 15px;
		}

		ul.gform_fields {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: flex-start;

			li.gfield {
				padding: 0;
				margin: 0 5px 0 0 !important;

				&.gfield_error {
					background: transparent;
					border: none;
					width: auto;

					.ginput_container {
						margin: 0;
					}
					.gfield_description {
						padding: 0;
						font-weight: normal;
					}
				}

				.ginput_container {
					margin: 0;

					input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
						display: block;
						width: 100%;
						height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
						padding: @padding-base-vertical @padding-base-horizontal;
						font-size: @font-size-base;
						line-height: @line-height-base;
						color: @input-color;
						background-color: @input-bg;
						background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
						border: 1px solid @input-border;
						border-radius: @input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
						.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
						.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

						// Customize the `:focus` state to imitate native WebKit styles.
						.form-control-focus();

						// Placeholder
						.placeholder();

						// Unstyle the caret on `<select>`s in IE10+.
						&::-ms-expand {
							border: 0;
							background-color: transparent;
						}

						// Disabled and read-only inputs
						//
						// HTML5 says that controls under a fieldset > legend:first-child won't be
						// disabled if the fieldset is disabled. Due to implementation difficulty, we
						// don't honor that edge case; we style them as disabled anyway.
						&[disabled],
						&[readonly],
						fieldset[disabled] & {
							background-color: @input-bg-disabled;
							opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
						}

						&[disabled],
						fieldset[disabled] & {
							cursor: @cursor-disabled;
						}

						// Reset height for `textarea`s
						textarea& {
							height: auto;
						}
					}
				}
			}
		}
		.gform_footer {
			flex: 0;
			margin: 0;
			padding: 0;
			align-self: flex-start;
			display: flex;
			align-items: center;

			.gform_button {
				margin: 0;
				display: inline-block;
				font-weight: @btn-font-weight;
				text-align: center;
				vertical-align: middle;
				touch-action: manipulation;
				cursor: pointer;
				background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
				border: 1px solid transparent;
				white-space: nowrap;
				line-height: @line-height-base !important;
				padding: 6px 12px;
				border-radius: @btn-border-radius-base;
				.user-select(none);

				&,
				&:active,
				&.active {
					&:focus,
					&.focus {
						.tab-focus();
					}
				}

				&:hover,
				&:focus,
				&.focus {
					color: @btn-default-color;
					text-decoration: none;
				}

				&:active,
				&.active {
					outline: 0;
					background-image: none;
					.box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
				}

				&.disabled,
				&[disabled],
				fieldset[disabled] & {
					cursor: @cursor-disabled;
					.opacity(.65);
					.box-shadow(none);
				}

				a& {
					&.disabled,
					fieldset[disabled] & {
						pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
					}
				}
				.button-variant(@btn-primary-color; @brand-orange; @brand-orange-border);
			}
		}
		.gform_ajax_spinner {
			padding: 0;
			margin-left: 10px;
		}
	}

	@media @md-breakpoint {
		.jumbotron-book & {
			.gform_wrapper {
				form {
					justify-content: left;
				}
			}
		}
	}
}

.form-stacked {
	// margin: 0 -15px;

	.gform_confirmation_message {
		text-align: center;
	}
	.gfield_label {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0,0,0,0);
		border: 0;
	}

	.gform_wrapper {
		div.validation_error {
			border: none;
			text-align: left;
			margin-bottom: 11px;
			padding: 0 15px;
		}
		.gform_body {
			width: auto;
		}

		ul.gform_fields {
			margin: 0 -15px;

			li.gfield {
				&.gfield_error {
					background: transparent;
					border: none;
					width: auto;

					&.col-md-12 {
						width: 100%;
					}
					&.col-md-6 {
						width: 50%;
					}
					&.col-md-3 {
						width: 25%;
					}

					.ginput_container {
						margin: 0;
					}
					.gfield_description {
						padding: 0;
					}
				}

				&.col-md-6,
				&.col-md-3 {
					clear: none;
				}

				.ginput_container {
					margin: 0;

					input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
						display: block;
						width: 100%;
						height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
						padding: @padding-base-vertical @padding-base-horizontal;
						font-size: @font-size-base;
						line-height: @line-height-base;
						color: @input-color;
						background-color: @input-bg;
						background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
						border: 1px solid @input-border;
						border-radius: @input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
						.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
						.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

						// Customize the `:focus` state to imitate native WebKit styles.
						.form-control-focus();

						// Placeholder
						.placeholder();

						// Unstyle the caret on `<select>`s in IE10+.
						&::-ms-expand {
							border: 0;
							background-color: transparent;
						}

						// Disabled and read-only inputs
						//
						// HTML5 says that controls under a fieldset > legend:first-child won't be
						// disabled if the fieldset is disabled. Due to implementation difficulty, we
						// don't honor that edge case; we style them as disabled anyway.
						&[disabled],
						&[readonly],
						fieldset[disabled] & {
							background-color: @input-bg-disabled;
							opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
						}

						&[disabled],
						fieldset[disabled] & {
							cursor: @cursor-disabled;
						}

						// Reset height for `textarea`s
						textarea& {
							height: auto;
						}
					}

					textarea {
						display: block;
						width: 100%;
						padding: @padding-base-vertical @padding-base-horizontal;
						font-size: @font-size-base;
						line-height: @line-height-base;
						color: @input-color;
						background-color: @input-bg;
						background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
						border: 1px solid @input-border;
						border-radius: @input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
						.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
						.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

						// Customize the `:focus` state to imitate native WebKit styles.
						.form-control-focus();

						// Placeholder
						.placeholder();

						// Unstyle the caret on `<select>`s in IE10+.
						&::-ms-expand {
							border: 0;
							background-color: transparent;
						}

						// Disabled and read-only inputs
						//
						// HTML5 says that controls under a fieldset > legend:first-child won't be
						// disabled if the fieldset is disabled. Due to implementation difficulty, we
						// don't honor that edge case; we style them as disabled anyway.
						&[disabled],
						&[readonly],
						fieldset[disabled] & {
							background-color: @input-bg-disabled;
							opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
						}

						&[disabled],
						fieldset[disabled] & {
							cursor: @cursor-disabled;
						}

						// Reset height for `textarea`s
						textarea& {
							height: auto;
						}
					}
				}
			}
		}

		.gform_footer {
			padding: 16px 15px 0;

			.gform_button {
				margin: 0;
				display: inline-block;
				font-weight: @btn-font-weight;
				text-align: center;
				vertical-align: middle;
				touch-action: manipulation;
				cursor: pointer;
				background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
				border: 1px solid transparent;
				white-space: nowrap;
				.button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @btn-border-radius-base);
				.user-select(none);

				&,
				&:active,
				&.active {
					&:focus,
					&.focus {
						.tab-focus();
					}
				}

				&:hover,
				&:focus,
				&.focus {
					color: @btn-default-color;
					text-decoration: none;
				}

				&:active,
				&.active {
					outline: 0;
					background-image: none;
					.box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
				}

				&.disabled,
				&[disabled],
				fieldset[disabled] & {
					cursor: @cursor-disabled;
					.opacity(.65);
					.box-shadow(none);
				}

				a& {
					&.disabled,
					fieldset[disabled] & {
						pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
					}
				}
				.button-variant(@btn-primary-color; @brand-orange; @brand-orange-border);
			}
		}
		.gform_ajax_spinner {
			padding: 0;
			margin-left: 10px;
		}
	}

}

.form-widesubmit {
	.gform_wrapper .gform_footer .gform_button {
		display: block;
		width: 100%;
	}
}