/**
 * special grid
 */
.col {
	&-special {
		&-5 {
			position: relative;
			padding: 0 15px;
			min-height: 1px;
			text-align: center;
			margin-bottom: 30px;

			@media @md-breakpoint {
				width: 20%;
				float: left;
			}
		}
		&-client {
			position: relative;
			padding: 0 15px;
			min-height: 1px;
			text-align: center;

			@media @xs-breakpoint {
				width: 50%;
				float: left;
			}
			@media @sm-breakpoint {
				width: calc(100% / 3);
			}
			@media @md-breakpoint {
				width: 25%;
			}
		}
	}

	&-dark {
		background-color: @primary-dark;
		color: @white;
		padding-bottom: 30px;

		@media @md-breakpoint {
			padding: 0 60px 30px 60px;
		}

		h2 {
			color: @white;
		}
	}

	&-white {
		padding: 30px;
		background-color: @white;
		margin-bottom: 30px;
	}
}

.row {
	&-mb {
		margin-bottom: 30px;
	}
	&-flex {
		@media @md-breakpoint {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px;
			justify-content: space-between;
		}
	}
}