.margin {
    &-top {
        &-none {
            margin-top: 0;
        }
        &-small {
            margin-top: 16px;
        }
        &-medium {
            margin-top: 32px;
        }
    }

    &-bottom {
        &-medium {
            margin-bottom: 32px;
        }
    }
}