.jumbotron {
	color: @white;
	padding: 60px 0;
	margin-bottom: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	@media @md-breakpoint {
		padding: 100px 0;
	}

	h1 {
		font-size: 32px;
		text-transform: uppercase;
		font-weight: 900;
		font-family: @font-family-sans-serif-condensed;
		margin-top: 0;

		@media @md-breakpoint {
			font-size: @jumbotron-heading-font-size;
		}
	}
	p {
		font-size: 19px;

		@media @md-breakpoint {
			font-size: @jumbotron-font-size;
			width: 80%;
		}
	}

	&-hiringteam {
		.aligncenter {
			margin-bottom: 30px;
		}

		#gradient > .horizontal(@primary-mid, @primary-dark);

		h3 {
			color: @white;
			text-transform: uppercase;
			margin-top: 0;
			font-size: 24px;

			@media @md-breakpoint {
				font-size: 32px;
			}
		}
		&__txt {
			margin-top: 60px;
		}

		@media @md-breakpoint {
			p {
				width: 100%;
			}
		}
	}

	&-book {
		position: relative;
		padding-top: 90px;

		@media @md-breakpoint {
			padding-bottom: 30px;
		}
		@media @lg-breakpoint {
			padding-top: 120px;
		}

		&__banner {
			font-size: 19px;
			background-color: @black;
			padding: 5px 15px;
			color: @brand-orange;
			position: relative;
			text-align: center;
			position: absolute;
			top: 5px;
			margin: 0 -15px;
			width: 100%;

			@media @sm-breakpoint {
				width: auto;
				font-size: 24px;
				left: -30px;
				top: -30px;
				position: relative;
				display: inline-block;
				margin: 0;
			}
		}
		p {
			font-size: 16px;
			width: auto;
		}
		h2 {
			color: @brand-orange-pale;
			margin-bottom: 30px;
			font-size: 28px;
		}
		&__image {
			margin-bottom: -360px;

			img {
				max-width: 300px;
			}
		}
		&__image2 {
			img {
				margin-bottom: -140px;
				z-index: 999;
				position: relative;

				@media @md-breakpoint {
					margin-bottom: -180px;
				}
			}
		}
		&__spacer {
			height: 300px;

			@media @sm-breakpoint {
				height: 80px;
			}
		}
	}

	&-home {
		@media @sm-breakpoint {
			padding: 48px 0;
		}

		h1 {
			font-size: 32px;
			font-weight: 300;

			strong {
				font-weight: 900;
			}
		}

		p {
			font-size: 19px;
		}
	}

	&-masterclass {
		h1,
		h2,
		p,
		li {
			text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
		}

		h2 {
			color: @brand-orange;
			font-size: 28px;
			margin-bottom: 20px;

			@media @md-breakpoint {
				font-size: 42px;
			}
		}

		p {
			width: 100%;
		}
	}
}