.media {
	.homepage &,
	.homepage-book & {
		&-left {
			display: block;
			text-align: center;
			padding: 0 0 10px 0;

			@media @xs-breakpoint {
				display: table-cell;
				padding: 0 10px 0 0;
			}
		}
	}
}