.module {
	h2 {
		margin-bottom: 30px;
	}

	li {
		margin-bottom: 10px;
	}

	&-light {
		padding: 30px 0;
		position: relative;
		background-color: @primary-light;
	}

	&-white {
		position: relative;
		padding: 30px 0;
		background-color: @white;
	}

	&-dark {
		background-color: @primary-dark;
		padding: 30px 0;
		position: relative;
		color: @white;

		h2,
		h3 {
			color: @white;
		}
	}

	&-no-padding {
		padding: 0;
	}

	&-background {
		padding: 60px 0;
		text-align: center;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		h2 {
			color: @white;
		}

		.solutions & {
			min-height: 600px;
		}
	}

	&-underjumbotron {
		margin: 30px 0;
	}

	&-texttoppadding {
		h2 {
			padding-top: 30px;
		}
	}

	&-marginbottom {
		margin-bottom: 30px;
	}

	&-evenrow {

		.row {
			@media @sm-breakpoint {
				display: flex;
				flex-wrap: wrap;
				align-items: stretch;
				justify-content: center;
			}
		}

		.col-sm-6,
		.col-md-3,
		.col-md-4,
		.col-md-8 {
			overflow: hidden;
			margin-bottom: 30px;
		}
	}

	&-teamlist {
		p {
			margin-top: 15px;
		}
	}

	&-duo {
		color: @white;
		background-color: @brand-gray;

		@media @md-breakpoint {
			&__row {
				display: flex;
			}
		}

		.even {
			display: flex;
			align-items: center;

			h2,
			h3 {
				color: @white;
			}

			strong {
				font-size: 22px;
				color: @primary-dark;
			}
		}

		&__column {
			padding: 20px 0 30px;

			@media @md-breakpoint {
				.odd & {
					float: right;
					padding-right: 15px;
				}
				.even & {
					float: left;
					padding-left: 15px;
				}
			}
			@media @lg-breakpoint {
				width: 554px;
			}
		}

		&__img {
			min-height: 400px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}
	}

	&-gradient {
		padding: 30px 0;
		#gradient > .horizontal(#cfdadc, #E8F3F5);
	}

	/* &-duotone {
		text-align: center;

		@media @sm-breakpoint {
			.row {
				display: flex;
			}
		}

		.odd {
			background-color: @primary-dark;
			color: @white;

			h2, a {
				color: @white;
			}
		}
		.even {
			background-color: @primary-light;
		}

		&__column {
			padding: 30px 0;

			@media @sm-breakpoint {
				.odd & {
					float: right;
				}
				.even & {
					float: left;
				}
			}
			@media @lg-breakpoint {
				width: 554px;
			}
		}
	} */

	&-pull-up {
		@media @sm-breakpoint {
			top: -100px;
			position: relative;
		}
		@media @lg-breakpoint {
			top: -180px;
		}

		&__less {
			@media @lg-breakpoint {
				top: -100px;
				position: relative;
			}
		}
	}

	&-book {
		height: 700px;

		@media @sm-breakpoint {
			padding: 0;
			height: 640px;
		}

		@media @md-breakpoint {
			height: 600px;
		}

		@media @lg-breakpoint {
			height: 830px;
		}
	}
}

.anchor {
	display: block;
	visibility: hidden;
	height: 65px;
	margin-top: -65px;

	@media @md-breakpoint {
		height: 86px;
		margin-top: -86px;
	}

	.logged-in & {
		@media @fat-adminbar-breakpoint {
			height: 111px;
			margin-top: -111px;
		}

	}
}