body {
	padding-top: 61px;

	@media @lg-breakpoint {
		padding-top: 106px;
	}
}

.navbar {
	text-transform: uppercase;
	background-color: @primary-light;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);

	&-header {
		display: flex;
		align-items: center;
	}

	&-toggle {
		order: 2;
	}

	&-fixed-top {
		border: 0;
		z-index: 9999;

		.admin-bar & {
			top: 46px;
			position: absolute;

			@media @fat-adminbar-breakpoint {
				position: fixed;
			}

			@media @slim-adminbar-breakpoint {
				top: 32px;
			}
		}
	}

	&-left {
		flex-grow: 1;
	}

	&-brand {
		height: auto;
		padding: 10px 15px;
		color: @primary-dark;
		transition: @transition;
		width: 140px;

		@media @lg-breakpoint {
			padding: 15px;
			width: 220px;
		}

		& > img {
			width: 110px;
			transition: @transition;

			@media @lg-breakpoint {
				width: 190px;
			}
		}

		.nav-short & {
			& > img {
				width: 90px;
			}

			@media @lg-breakpoint {
				// width: 150px;
				padding: 5px 15px;

				& > img {
					width: 150px;
				}
			}
		}
	}

	&-nav {
		.open .dropdown-menu > li > a {
			@media (max-width: @screen-lg-min) {
				padding: 10px 15px 10px 25px;
			}
			@media @lg-breakpoint {
				color: @white;
			}
		}

		& > li {
			&.social {
				@media @lg-breakpoint {
					padding-right: 10px;
				}

				& > a {
					display: inline-block;
					transition: @transition;

					@media @lg-breakpoint {
						padding: 35px 5px;
					}

					@media @lg-breakpoint {
						.nav-short & {
							padding: 30px 5px 26px;
						}
					}
				}
			}

			@media @lg-breakpoint {
				&.menu-item-has-children {
					transition: @transition;

					&:hover {
						background-color: @primary-mid;

						a {
							color: @white;
						}

						.dropdown-menu {
							display: table;
						}
					}
				}
			}

			& > a {
				color: @primary-dark;
				transition: @transition;

				@media @lg-breakpoint {
					padding: 35px 10px;
					line-height: 36px;
				}

				.nav-short & {
					@media @lg-breakpoint {
						padding-top: 30px;
						padding-bottom: 26px;
						line-height: 30px;
					}
				}
			}
		}

		& > li.current_page_item {
			& > a {
				color: @white;
				background-color: @primary-mid;
			}
		}

		.dropdown-menu {
			left: 0;
			padding: 0;
			background-color: @primary-mid;

			a {
				padding: 20px 10px;
				transition: @transition;
				color: @white;

				&:hover {
					background-color: @primary-dark;
				}
			}
		}
	}
}

