.owl-carousel {

	.module-testimonials & {
		width: 90%;
		margin: auto;
	}

	.owl-stage {
		display: flex;
	}
	.owl-item {
		text-align: center;
		order: 1;

		// img {
		// 	width: auto;
		// }
	}

	&__two {
		.owl-item {
			padding: 30px 0;
			order: 1;
			color: @white;

			&.odd {
				background-color: @primary-dark;
			}
			&.even {
				background-color: @primary-mid;
			}

			div {
				width: 70%;
				margin: auto;
			}
		}
	}

	&__three-padding {
		.owl-item {
			img {
				border-radius: @border-radius-base;
			}
		}
	}

	&__five {
		.owl-item {
			img {
				width: auto;
			}

		}
	}

	&__multicolortile {
		.owl-item {
			.tile-white {
				border: none;
				border-top: 7px solid @primary-dark;
				border-radius: 0;

				.module-white & {
					border-width: 7px 2px 2px 2px;
					border-color: @primary-dark;
					border-style: solid;
				}
			}
			.nth-tiles();
		}
	}

	.slider-clientlist & {
		padding: 30px 0;
	}

}

.owl-nav,
.owl-carousel__customnav {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	z-index: 9998;

	div {
		position: absolute;
		color: @primary-mid;
		cursor: pointer;

		.module-light & {
			color: @brand-gray;
		}
		.module-white & {
			color: @primary-dark;
		}

		i:before {
			font-size: 48px;
			line-height: 0;
		}
	}
	.owl-prev {
		left: 0;

		&.disabled {
			// color: @brand-gray;
			display: none;
		}
	}
	.owl-next {
		right: 0;

		&.disabled {
			// color: @brand-gray;
			display: none;
		}
	}
}

.owl-carousel__customnav {
	right: 0;
	margin: auto;

	@media @sm-breakpoint {
		width: @container-sm;
	}
	@media @md-breakpoint {
		width: @container-md;
	}
	@media @lg-breakpoint {
		width: @container-lg;
	}

	.icon-angle-left:before {
		text-align: left;
	}
	.icon-angle-right:before {
		text-align: right;
	}
}

.owl-dots {
	margin-top: 15px;
	text-align: center;

	.owl-dot {
		display: inline-block;

		&.active {
			span {
				background-color: @brand-orange;
			}
		}

		span {
			width: 10px;
			height: 10px;
			margin: 5px 7px;
			background-color: @brand-gray;
			display: block;
			transition: @transition;
			border-radius: 30px;
			backface-visibility: visible;
		}
	}
}