.page-template-book {
	.pum {
		&-theme-default-theme {
			background-color: rgba(0, 0, 0, .85);
			
			.pum-title {
				font-family: @headings-font-family;
				font-weight: 900;
				line-height: 1.1;
				font-size: 34px;
			}

			.pum-content + .pum-close {
				background-color: transparent;
				color: @black;
				font-weight: bold;
				font-size: 32px;
			}
		}

	}

	.gform_wrapper {
		input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
			display: block;
			width: 100%;
			height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
			padding: @padding-base-vertical @padding-base-horizontal;
			font-size: @font-size-base;
			line-height: @line-height-base;
			color: @input-color;
			background-color: @input-bg;
			background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
			border: 1px solid @input-border;
			border-radius: @input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
			.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
			.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

			// Customize the `:focus` state to imitate native WebKit styles.
			.form-control-focus();

			// Placeholder
			.placeholder();

			// Unstyle the caret on `<select>`s in IE10+.
			&::-ms-expand {
				border: 0;
				background-color: transparent;
			}

			// Disabled and read-only inputs
			//
			// HTML5 says that controls under a fieldset > legend:first-child won't be
			// disabled if the fieldset is disabled. Due to implementation difficulty, we
			// don't honor that edge case; we style them as disabled anyway.
			&[disabled],
			&[readonly],
			fieldset[disabled] & {
				background-color: @input-bg-disabled;
				opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
			}

			&[disabled],
			fieldset[disabled] & {
				cursor: @cursor-disabled;
			}

			// Reset height for `textarea`s
			textarea& {
				height: auto;
			}
		}

		.gform_footer .gform_button {
			margin: 0;
			display: inline-block;
			font-weight: @btn-font-weight;
			text-align: center;
			vertical-align: middle;
			touch-action: manipulation;
			cursor: pointer;
			background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
			border: 1px solid transparent;
			white-space: nowrap;
			line-height: @line-height-base !important;
			padding: 6px 12px;
			border-radius: @btn-border-radius-base;
			.user-select(none);

			&,
			&:active,
			&.active {
				&:focus,
				&.focus {
					.tab-focus();
				}
			}

			&:hover,
			&:focus,
			&.focus {
				color: @btn-default-color;
				text-decoration: none;
			}

			&:active,
			&.active {
				outline: 0;
				background-image: none;
				.box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
			}

			&.disabled,
			&[disabled],
			fieldset[disabled] & {
				cursor: @cursor-disabled;
				.opacity(.65);
				.box-shadow(none);
			}

			a& {
				&.disabled,
				fieldset[disabled] & {
					pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
				}
			}
			.button-variant(@btn-primary-color; @brand-orange; @brand-orange-border);
		}
	}
}