.tile {
	&-white {
		padding: 15px;
		text-align: left;
		// margin: 0 15px;
		color: @primary-dark;
		background-color: @white;
		border: 2px solid @primary-dark;
		border-radius: @border-radius-base;
		height: 100%;

		&.tile-featured {
			background-color: @primary-light;
			// border: none;
		}

		&.text-center {
			text-align: center;
		}

		&.text-mid {
			color: @primary-mid;
		}

		.owl-carousel & {
			margin: 0 15px;
		}

		img {
			.owl-carousel & {
				width: auto;
			}
		}
	}

	&-bg {
		font-weight: bold;
		display: flex;
		height: 200px;
		padding: 15px;
		text-align: center;
		color: @white;
		border: 2px solid @primary-dark;
		border-radius: @border-radius-base;
		background-color: @primary-dark;
		margin-bottom: 10px;
		background-repeat: none;
		background-position: center center;
		background-size: cover;

		flex-wrap: wrap;
		justify-content: center;
		align-content: center;

		& > * {
			flex: 1 100%;
		}

		.single-event & {
			margin-bottom: 30px;
		}
	}

	&-img {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 200px;
		margin: -15px -15px 15px;
	}

	&-stretch {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
}