h3,
.h3 {
	line-height: 1.25;
}

.orangetext {
	color: @brand-orange;
}
.redtext {
	color: @brand-red-btn;
}
.whitetext {
	color: @white;
}
.midtext {
	color: @primary-mid;
}

.narrow {
	@media @sm-breakpoint {
		width: 75%;
		margin: 0 auto 30px auto;
	}
}

.text {
	&-emphasis {
		font-style: italic;
		color: @primary-mid;
		font-size: 19px;
	}

	&-bigger {
		font-size: 19px;
	}

	&-lighter {
		font-weight: 300;
	}

	&-xs-center {
		text-align: center;
	}

	// &-tilt {
	// 	transform: rotate(-6deg);
	// 	display: inline-block;
	// }

	// &-underline {
	// 	border-bottom: 2px solid @brand-orange;
	// }

	&-bigquote {
		font-size: 48px;
		font-family: @font-family-serif;
		font-weight: bold;
		vertical-align: middle;
		padding-right: 5px;
		line-height: 0;
	}

	@media @sm-breakpoint {
		&-sm-left {
			text-align: left;
		}
	}

	@media @md-breakpoint {
		&-md-left {
			text-align: left;
		}
	}

	&-huge {
		font-size: 64px;
		font-weight: bold;
	}
}

.circled_numbers {
	border-radius: 50%;
	text-align: center;
	margin: 0 auto 15px auto;
	font-size: 32px;
	color: @primary-dark;
	background-color: @brand-gray;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
}

.list {
	&-inline {
		font-size: 0;
	}

	&-nopadding {
		padding-left: 15px;
	}
}
