/* .module-whatis {
	@media @md-breakpoint {
		.row {
			display: flex;
		}
	}
	&__content {
		border: 2px solid @primary-dark;
		padding: 15px;
		border-radius: @border-radius-base;
		height: 100%;
		position: relative;

		&:after,
		&:before {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;

			@media @md-breakpoint {
				left: 100%;
				top: 50%;
			}
		}

		&:after {
			border-color: transparent;
			border-top-color: @white;
			border-width: 20px;
			margin-left: -20px;

			@media @md-breakpoint {
				margin-top: -20px;
				border-top-color: transparent;
				margin-left: 0;
				border-left-color: @white;
			}
		}
		&:before {
			border-color: transparent;
			border-top-color: @primary-dark;
			border-width: 23px;
			margin-left: -23px;

			@media @md-breakpoint {
				margin-top: -23px;
				margin-left: 0;
				border-top-color: transparent;
				border-left-color: @primary-dark;
			}
		}

		&3,
		&4 {
			border-color: @brand-orange;


			&:before {
				border-top-color: @brand-orange;

				@media @md-breakpoint {
					border-top-color: transparent;
					border-left-color: @brand-orange;
				}
			}
		}

		&5 {
			border-color: @brand-green;

			&:before,
			&:after {
				border-width: 0;
			}
		}
	}
} */

/* .module-whatis {
	.row {
		@media @md-breakpoint {
			display: flex;
		}

		& > div {
			margin-bottom: 30px;
		}
	}

	h4 {
		color: @white;
	}

	&__content {
		color: @white;
		height: 100%;
		padding: 15px;

		&1 {
			background-color: @primary-mid;
		}
		&2 {
			background-color: @brand-green;
		}
		&3 {
			background-color: @brand-brown;
		}
		&4 {
			background-color: @brand-orange;
		}
		&5 {
			background-color: @primary-dark;
		}
	}
} */