/*
Theme Name: HPWP Consulting
Theme URI: http://wordpress.org/
Version: 1.0
Description: The default WordPress theme for HPWP Consulting.
Author: Gorirra Consulting
Author URI: http://gorirra.com/
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=EB+Garamond|Oswald:700);
@font-face {
  font-family: "28DaysLater";
  src: url("type/28DaysLater.eot");
  src: local("&#9786;"),
    url("type/28DaysLater.woff") format("woff");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background:url('images/bg.jpg') no-repeat scroll center top #000;
  font:16px/19px Georgia, serif;
}
p, ul, ol, table {
  margin-bottom:15px;
}
em, i {
  font-style:italic;
  /* color:#336699; */
}
strong, b {
  font-weight:bold;
}
img {
  max-width:100%;
  height:auto;
}
h1, h2, h3, h4 {
  font-weight:700;
  line-height:1.25em;
}
h1 {
  font-family:'28DaysLater', sans-serif;
  font-size:24px;
  color:#003366;
  text-transform:uppercase;
  margin-bottom:20px;
}
h2 {
  font-family:'EB Garamond', serif;
  font-size:19px;
  margin-bottom:10px;
  font-style:italic;
  color:#336699;
}
h3 {
  font-family:'EB Garamond', serif;
  font-size:16px;
  margin-bottom:10px;
}
h4 {
  font-style:italic;
  color:#666;
}
.jig {
  clear:both;
}
.blue {
  color:#369;
}
.green {
  color:#690;
}
.subtitle {
  color: #003366;
  font-size: 23px;
  font-weight: bold;
}
.top_wrapper_container {
  background:url('images/masthead.jpg') top left no-repeat #fff;
  width:983px;
  margin:auto;
}
.social_group {
  width:983px;
  margin:50px auto auto;
  text-align:right;
}
  .social_group li {
    display:inline-block;
    margin-left:10px;
  }
.social_icon {
  background:url('images/social-sprite.png') top left no-repeat;
  width:32px;
  height:32px;
}
  .linkedin:hover {
    background-position:0 -32px;
  }
  .twitter {
    background-position:-32px 0;
  }
  .twitter:hover {
    background-position:-32px -32px;
  }
  .rss {
    background-position:-64px 0;
  }
  .rss:hover {
    background-position:-64px -32px;
  }
  .facebook {
    background-position:-96px 0;
  }
  .facebook:hover {
    background-position:-96px -32px;
  }
  .youtube {
    background-position:-128px 0;
  }
  .youtube:hover {
    background-position:-128px -32px;
  }
.top_wrapper {
  padding:20px 40px;
  overflow:hidden;
}
.tagline {
  float:left;
  font-family:'28DaysLater', sans-serif;
  text-transform:uppercase;
  padding-top:30px;
}
  .tagline .first_part {
    color:#cccc66;
    font-size:22px;
  }
  .tagline .second_part {
    color:#003366;
    font-size:42px;
    margin-left:5px;
    vertical-align:bottom;
  }
.logo {
  float:right;
}
.nav {
  background:url('images/nav-bg.png') no-repeat top left;
  height:67px;
  width:992px;
  margin:-5px auto auto;
  text-align:center;
  font-weight:bold;
  z-index:10;
  position:relative;
}
  .nav ul {
    padding-top:15px;
    margin-bottom:0;
  }
  .nav li {
    display:inline-block;
    position:relative;
    padding:10px 0;
    padding:10px 20px;
    border-left:2px solid #fff;
    vertical-align:middle;
    font-size: 14px;
    line-height:14px;
  }
    .nav li:first-child {
      border:none;
    }
  .nav a {
    text-decoration:none;
    color:#000;
    text-transform:uppercase;
  }
  .nav li:hover,
  .current-menu-item {
    /*text-shadow: 0 0 10px #fff;*/
    background:url("images/nav-item-bg.png") no-repeat scroll center transparent;
  }
  .nav .sub-menu {
    position:absolute;
    transition:all .5s ease;
    visibility:hidden;
    background:url("images/masthead.jpg") no-repeat scroll left top #FFFFFF;
    padding:0;
    border:1px solid #ccc;
    z-index:5;
    left:20px;
    width:260px;
    top:30px;
    opacity:0;
  }
  .nav li .sub-menu li {
    display:block;
    border:none;
    padding:0;
    text-align:left;
    font-size:12px;
  }
  .nav li:hover .sub-menu {
    opacity:1;
    visibility:visible;
  }
  .nav .sub-menu a {
    padding:10px;
    display:block;
  }
  .nav .sub-menu a:hover {
    color:#333;
    background-color:#eee;
    background-color:rgba(0,0,0,.1);
  }
.content_container {
  background:url('images/container-bg.jpg') bottom center no-repeat #fff;
  width:983px;
  margin:-5px auto auto;
  z-index:1;
  position:relative;
}

/* @@ sidebar */
  .home_side_content_container {
    width:376px;
    margin:30px 0 0 -30px;
    float:left;
  }
  .side_content_container {
    float:left;
    width:360px;
  }
  .home .side_content {
    padding:25px 20px 20px;
    box-shadow:20px 20px 20px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:20px 20px 20px rgba(0,0,0,.25);
  }
  .side_content {
    padding:25px 20px 20px;
  }
  .side_content_bottom {
    height:78px;
    position:relative;
    bottom:30px;
    box-shadow:20px 20px 20px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:20px 20px 20px rgba(0,0,0,.25);
    background:url('images/sidebar-bottom-bg.png') no-repeat bottom center;
  }
  .home .side_content {
    background:url('images/sidebar-bg.png') repeat-y top center;
  }
  .overflow_box_container {
    margin:30px 0 0 -70px;
    width:376px;
    margin:30px 0 0 -50px;
  }
  .overflow_box {
    background:url('images/sidebar-bg.png') repeat-y top center;
    padding:25px 20px 20px;
    -webkit-box-shadow:20px 20px 20px rgba(0,0,0,.25);
    box-shadow:20px 20px 20px rgba(0,0,0,.25);
  }
  .featured_image {
    margin:30px 0 0 -70px;
  }
  .page-id-57 .extra_featured_image {
    margin:0 0 0 -70px;
  }
.widgettitle {
  display:none;
}
.side_content li {
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:2px dotted #999;
}
  .side_content .bulletList {
    margin-left:35px;
    list-style:disc;
  }
  .side_content .bulletList li {
    border-bottom:none;
    padding-bottom:0;
    margin-bottom:5px;
  }
.side_content a {
  color:#000;
}
/*
.textwidget strong {
  color:#690;
}
*/
.bigger_font {
  color:#3C9FCC;
  font-size:22px;
}
.featured_quote_container {
  border-top:2px solid #C2C2C2;
  border-bottom:2px solid #C2C2C2;
  font-size:19px;
  line-height:32px;
}
  .featured_quote {
    margin:20px 40px;
  }
.extra_text a {
  font-weight:bold;
}
.extra_text li {
  background:url('images/checkbox-default.png') no-repeat 0 5px;
  padding-left:30px;
}
.extra_text li:hover {
  background:url('images/checkbox-hover.png') no-repeat 0 5px;
}
.extra_featured_image_container {
  margin:20px 0;
}
.extra_featured_image_overflow {
  margin:30px 0 0 -70px;
}
.big_quote {
  float:left;
  font-size:42px;
  margin-top:5px;
  line-height:14px;
}
.author_name {
  font-weight:bold;
  font-style:italic;
  color:#036;
}
.author_title {
  color:#036;
  font-style:italic;
}
.company_name {
  font-weight:bold;
  color:#690;
}
.content {
  padding:25px 20px 20px;
  width:580px;
  float:right;
  line-height:1.5;
}
.entry {
  line-height:19px;
  overflow:hidden;
  margin-bottom:20px;
}
  .entry li {
    margin-left:35px;
  }
.content_one_column {
  width:auto;
  padding:25px 20px 20px;
  line-height:1.5;
}
  .content .ui-accordion-content-active {
    padding:10px;
    margin-bottom:10px;
  }
  .content .ui-state-active a {
    color:#437599;
  }
  /*
  .content strong,
  .content_one_column strong {
    color:#690;
  }
  */
  .content a,
  .content_one_column a {
    color:#690;
  }
    .content .post_title a {
      color:#036;
      text-decoration:none;
    }
    .content a:hover,
    .content_one_column a:hover {
      color:#437599;
    }
  .center {
    text-align:center;
  }
  .dataTable {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  .dataTable tr:first-child {
    border-bottom: 4px solid #39C;
  }
  .dataTable th {
    background-color: #CCE5FF;
    font-weight: bold;
    text-align:left;
  }
  .dataTable td,
  .dataTable th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding:5px;
  }
  .dataTable .cell_bold {
    font-weight:bold;
  }
.content ul,
.content_one_column ul {
  list-style-type:disc;
}
.content ol,
.content_one_column ol {
  list-style-type:decimal;
}
  .content_one_column li {
    margin:0 0 5px 35px;
  }
.post {
  padding-top:20px;
  border-top:2px dotted #999;
}
  .post:first-child {
    padding-top:0;
    border-top:none;
  }
.download_group {
  border-bottom: 1px solid #333333;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.side_content .download_link {
  background-color: #99cc66;
  color: #FFFFFF;
  display: inline-block;
  padding:0 5px;
  text-decoration: none;
  font-size:11px;
  margin:10px 0 5px 0;
  border-radius:4px;
}
  .side_content .download_link:hover {
    background-color:#3399CC;
  }

  .content .download_link {
    background-color: #99cc66;
    color: #FFFFFF;
    display: inline-block;
    padding:0 5px;
    text-decoration: none;
    font-size:11px;
    margin:10px 0 5px 20px;
    border-radius:4px;
    line-height:1.5;
    font-style:normal;
    font-weight:normal;
  }

    .content .download_link:hover {
      background-color:#3399CC;
    }
.content .hpwp_form li {
  margin:0 0 5px 0;
}
.hpwp_form label {
  color:#690;
}
.hpwp_form .wpcf7-list-item-label {
  color:#000;
}
.hpwp_form input {
  color: #666;
  padding: 5px;
}
.split_row {
  display:inline-block;
  padding-right:10px;
  vertical-align:top;
}
.left_split {
  padding-right:90px;
}
.asterisk {
  color:#f00;
}
.bottom_nav {
  clear:both;
  text-align:center;
  padding:20px 0;
  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;
}
  .bottom_nav ul {
    margin-bottom:0;
  }
  .bottom_nav li {
    display:inline;
    border-left:1px solid #000;
    margin-left:10px;
    padding-left:10px;
  }
    .bottom_nav li:first-child {
      border-left:none;
      margin-left:0;
      padding-left:0;
    }
  .bottom_nav a {
    color:#000;
    text-decoration:none;
  }
    .bottom_nav a:hover {
      text-decoration:underline;
      color:#82AC2F;
    }
  .bottom_nav .current_page_item a {
    color:#690;
  }

/* @@ footer */
.footer {
  color:#9D9D9D;
  text-align:center;
  margin:20px 0;
  font-size:12px;
}

/* @@ images */
p img {
  padding: 0;
  max-width: 100%;
  }

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignright {
  padding: 4px;
  margin: 0 0 2px 7px;
  display: inline;
}
img.alignleft {
  padding: 4px;
  margin: 0 7px 2px 0;
  display: inline;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* End Images */

/* alumni */
.resourcesTable {
  margin-bottom:20px;
  width:100%;
  border-top:1px solid #CCC;
}
  .resourcesTable td {
    padding:10px 5px;
    vertical-align:top;
    border-bottom:1px solid #ccc;
  }
  .resourcesTable .odd {
    background-color:#eee;
  }
  .product {
    width:250px;
  }
  .pdf_link {
    text-align:right;
  }
.standout {
  background-color: #C3CF21;
  padding: 10px;
  font-weight:bold;
}