.module {
	// about us page
	&-aboutus {
		.col-md-4 {
			margin-bottom: 30px;
			text-align: center;
			color: @primary-mid;
		}
		&__modal {
			max-width: 90%;
			width: 800px;

			img {
				max-width: 250px;
			}

			.media {
				&-left {
					padding-right: 0;
					display: block;
					margin-bottom: 15px;

					@media @sm-breakpoint {
						display: table-cell;
						padding-right: 30px;
					}
				}
				&-body {
					width: auto;

					@media @sm-breakpoint {
						width: 10000px;
					}
				}
			}
		}
		h3 {
			font-weight: normal;
			color: @primary-mid;
		}
	}
}

.aboutpage {
	ul {
		color: @brand-orange;

		@media @xs-breakpoint {
			display: flex;
			flex-wrap: wrap;
		}
		@media @lg-breakpoint {
			width: 75%;
			margin: auto;
		}

		li {
			@media @xs-breakpoint {
				width: 50%;
			}
			@media @sm-breakpoint {
				width: calc(100%/3);
			}
			@media @md-breakpoint {
				width: 25%;
			}
		}
	}
}
