.bookpage {
	.col-pad-top {
		@media @sm-breakpoint {
			margin-top: -25px;	
		}
		@media @md-breakpoint {
			margin-top: 0;
			padding-top: 50px;
		}
		@media @lg-breakpoint {
			padding-top: 90px;
		}
	}

	&-wordart__txt {
		text-align: center;

		@media @sm-breakpoint {
			text-align: left;
		}

		@media @md-breakpoint {
			font-size: 22px;
		}

		p {
			margin-bottom: 30px;
		}
	}

	&-storesrow {
		ul {
			list-style: none;
			padding: 0;

			@media @sm-breakpoint {
				margin: 0 -15px;
			}
		}
		li {
			margin-bottom: 30px;
			text-align: center;

			@media @sm-breakpoint {
				display: inline-block;
				padding: 0 15px;
				margin-bottom: 0;
				width: calc(100%/3);
			}
		}
		img {
			max-width: 150px;
		}
	}

	.module-aboutbook {
		img {
			max-width: 200px;
		}
		.col-sm-6 {
			margin-bottom: 30px;
		}

		&__img {
			margin-bottom: 15px;
		}
	}

	.module-evenrow .row {
		align-items: center;
	}

	.module-expect {
		ul {
			margin-bottom: 30px;
		}
	}

	.module-authors {
		.col-md-3,
		.col-md-6 {
			margin-bottom: 30px;
		}
	}

	.module-red {
		background-color: @brand-red-btn;
		color: @white;
		padding: 15px 15px 60px 15px;

		h2 {
			color: @white;
		}
	}

	.module-praise {
		.module-evenrow {
			.row {
				display: flex;				
				flex-wrap: wrap;

				@media @sm-breakpoint {
					flex-wrap: nowrap;
				}
			}
		}

		&__odd {
			padding: 30px 0;
			color: @white;
			background-color: #93a7c2;
		}

		&__even {
			padding: 30px 0;
			background-color: @primary-light;
		}

		&__quote {
			font-size: 24px;
			width: 100%;
			order: 2;

			@media @sm-breakpoint {
				order: 0;
			}

			@media @md-breakpoint {
				width: 75%;
			}
		}

		.col-md-3 {
			margin-bottom: 15px;
			order: 1;
			width: 100%;

			@media @sm-breakpoint {
				order: 0;
			}

			@media @md-breakpoint {
				width: 25%;
			}
		}

		.narrow {
			margin-bottom: 0;
		}

		figure {
			margin-bottom: 15px;
		}

		&__img {
			max-width: 150px;
		}
	}

	&-redbg {
		padding: 5px 15px 15px;
		color: @white;
		background-color: @brand-red-btn;

		@media @md-breakpoint {
			padding: 5px 30px 15px;
		}

		h2 {
			color: @white;
		}
	}

	.homepage-book {
		&__wordart {
			margin-bottom: 30px;

			@media @md-breakpoint {
				margin-bottom: 60px;
			}

			img {
				width: 200px;
				margin-bottom: 30px;

				@media @md-breakpoint {
					width: 275px;
				}
			}
		}
		&__banner-wrap {
			@media @sm-breakpoint {
				margin-top: -25px;
			}
		}
	}
}

.fancybox-slide--iframe .fancybox-content {
	width  : 800px;
	height : 600px;
	max-width  : 80%;
	max-height : 80%;
	margin: 0;
}