.clientspage {
	ul {
		color: @brand-orange;

		@media @xs-breakpoint {
			display: flex;
			flex-wrap: wrap;
		}
		@media @lg-breakpoint {
			width: 75%;
			margin: auto;
		}

		li {
			@media @xs-breakpoint {
				width: 50%;
			}
			@media @sm-breakpoint {
				width: calc(100%/3);
			}
			@media @md-breakpoint {
				width: 25%;
			}
		}
	}
}