.hiringpage {
	&-bullets {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: flex;
				align-items: center;
				
				&:before {
					display: inline-block;
					content: '';
					height: 36px;
					width: 36px;
					line-height: 1;
					margin-right: 10px;
					background-size: contain;
					background-repeat: no-repeat;
					background-image: url('images/hpwp-icon.svg');
				}
			}
		}
	}

	.col-md-4 {
		margin-bottom: 30px;
	}

	.row-flex__aligncenter {
		@media @md-breakpoint {
			display: flex;
			align-items: center;
		}
	}
}