.homepage-book {
    &__announcement {
        background-color: @brand-orange-pale;
        padding: 16px 0;
        font-size: 18px;
        font-weight: bold;
    }
    .img-book {
        position: relative;
        width: 200px;
        margin: auto;

        @media @sm-breakpoint {
            width: auto;
        }
    }

    &__banner {
        background-color: #c91f25;
        text-transform: uppercase;
        font-weight: 900;
        color: @white;
        left: -15px;
        position: relative;
        padding: 0 15px;
        display: table-cell;
        height: 56px;
        vertical-align: middle;
        font-family: @font-family-sans-serif-condensed;

        @media @sm-breakpoint {
            left: 0;
            padding: 30px 15px 15px;
            width: 200px;
            text-align: center;
            display: inline-block;
            height: auto;
            font-size: 19px;
        }

        @media @lg-breakpoint {
            font-size: 32px;
            line-height: 1;
        }

        &-wrap {
            display: table;
            margin-bottom: 15px;

            @media @sm-breakpoint {
                display: block;
                padding: 0;
                margin-bottom: 60px;
            }
        }

        &-tri {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 28px 0 28px 28px;
            border-color: transparent transparent transparent #c91f24;
            position: relative;
            left: -15px;

            @media @sm-breakpoint {
                border-width: 25px 100px 0 100px;
                border-color: #c91f24 transparent transparent transparent;
                left: 0;
            }
        }
    }

    &__wordart {
        margin-bottom: 30px;

        img {
            width: 200px;

            @media @sm-breakpoint {
                width: 300px;
            }

            @media @lg-breakpoint {
                width: 400px;
            }

            .module-book & {
                margin-bottom: 30px;
            }
        }
    }

    .col-pull-up {
        position: relative;
        top: -70px;

        @media @sm-breakpoint {
            top: 0;
        }
    }
}
