/* #circle {
	width: 100%;
	margin: auto;
	max-width: 260px;
	height: auto;
	position: relative;
	margin-bottom: 15px;

	.progressbar-text {
		font-size: 48px;
	}
}

.circle__text {
	text-align: center;
	font-size: 24px;
	margin-bottom: 30px;
} */

.solutionspage {
	h3 {
		font-weight: 300;
	}

	.module-background {
		height: 250px;

		@media @md-breakpoint {
			height: 500px;
		}
	}
}