.speakerpage {
    .module-evenrow .row {
		align-items: center;
	}

	&_banner {
		background-color: @brand-orange-pale;
		padding: 10px 0;

		a {
			text-decoration: underline;
		}
	}
}
