.gradient() {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8f3f5+0,0d4b64+100 */
	background: @primary-mid; /* Old browsers */
	background: -moz-linear-gradient(left, @primary-mid 0%, @primary-dark 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, @primary-mid 0%, @primary-dark 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, @primary-mid 0%, @primary-dark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@primary-mid', endColorstr='@primary-dark', GradientType=1 ); /* IE6-9 */
}