.nth-bullets() {
	&:nth-child(4n + 1) {
		&:before {
			color: @primary-mid;
		}
	}
	&:nth-child(4n + 2) {
		&:before {
			color: @brand-orange;
		}
	}
	&:nth-child(4n + 3) {
		&:before {
			color: @brand-green;
		}
	}
	&:nth-child(4n + 4) {
		&:before {
			color: @primary-dark;
		}
	}
}

.nth-tiles() {
	&:nth-child(4n + 1) {
		.tile-white {
			border-top-color: @primary-mid;
		}
	}
	&:nth-child(4n + 2) {
		.tile-white {
			border-top-color: @brand-orange;
		}
	}
	&:nth-child(4n + 3) {
		.tile-white {
			border-top-color: @brand-green;
		}
	}
	&:nth-child(4n + 4) {
		.tile-white {
			border-top-color: @primary-dark;

			.module-dark & {
				border-top-color: @brand-brown;
			}
		}
	}
}