/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=EB+Garamond|Oswald:700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background:url('images/bg.jpg') no-repeat scroll center top #000;
  font:16px/19px 'EB Garamond', serif;
}
p, ul, ol, table {
  margin-bottom:10px;
}
em, i {
  font-style:italic;
}
strong, b {
  font-weight:bold;
}
h1, h2, h3, h4 {
  font-weight:700;
  line-height:1.25em;
}
h1 {
  font-family:'Oswald', sans-serif;
  font-size:24px;
  color:#003366;
  text-transform:uppercase;
  margin-bottom:20px;
}
h2 {
  font-family:'EB Garamond', serif;
  font-size:19px;
  margin-bottom:10px;
  font-style:italic;
  color:#336699;
}
h3 {
  font-family:'EB Garamond', serif;
  font-size:16px;
  margin-bottom:10px;
}
.jig {
  clear:both;
}
.top_wrapper_container {
  background:url('images/masthead.jpg') top left no-repeat #fff;
  width:983px;
  margin:70px auto auto;
}
.top_wrapper {
  padding:20px 40px;
  overflow:hidden;
}
.tagline {
  float:left;
  font-family:'Oswald', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  padding-top:15px;
}
  .tagline .first_part {
    color:#cccc66;
    font-size:22px;
    vertical-align:text-top;
  }
  .tagline .second_part {
    color:#003366;
    font-size:32px;
    margin-left:5px;
    vertical-align:bottom;
  }
.logo {
  float:right;
}
.nav {
  background:url('images/nav-bg.png') no-repeat top left;
  height:67px;
  width:992px;
  margin:-5px auto auto;
  text-align:center;
  font-weight:bold;
  z-index:10;
  position:relative;
}
  .nav ul {
    padding-top:5px;
    margin-bottom:0;
  }
  .nav li {
    display:inline-block;
    padding:10px 0;
    margin-left:20px;
    padding-left:20px;
    border-left:2px solid #fff;
  }
    .nav li:first-child {
      margin-left:0;
      border:none;
    }
  .nav a {
    text-decoration:none;
    color:#000;
    text-transform:uppercase;
  }
.content_container {
  background:url('images/container-bg.jpg') bottom center no-repeat #fff;
  width:983px;
  margin:-5px auto auto;
  z-index:1;
  position:relative;
}
  .home_side_content_container {
    width:410px;
    margin:30px 0 0 -70px;
    background-color:#ddd;
    border:1px solid #ccc;
    float:left;
  }
  .side_content_container {
    float:left;
    width:360px;
  }
  .side_content {
    padding:25px 20px 20px;
  }
  .content {
    padding:25px 20px 20px;
    width:580px;
    float:right;
    line-height:1.5;
  }
.bottom_nav {
  clear:both;
  text-align:center;
  padding:20px 0;
  text-transform:uppercase;
}
  .bottom_nav ul {
    margin-bottom:0;
  }
  .bottom_nav li {
    display:inline;
    border-left:1px solid #000;
    margin-left:10px;
    padding-left:10px;
  }
    .bottom_nav li:first-child {
      border-left:none;
      margin-left:0;
      padding-left:0;
    }
  .bottom_nav a {
    color:#000;
    text-decoration:none;
  }
    .bottom_nav a:hover {
      text-decoration:underline;
      color:#82AC2F;
    }

/* @@ footer */
.footer {
  color:#9D9D9D;
  text-align:center;
  margin:20px 0;
}